**/.gradle/
**/build/
.faces-config.xml.jsfdia
**/bin/
**/target/
**/lib/
**/.settings/
.sonar/
classpath.xml
classpath-test.xml
.classpath
.project
*.log
Version.java
VersionBV.java
VersionExt.java

*~

tmp/
nohup.out
